@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,300&family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;600;700&family=Quicksand&display=swap");

body::-webkit-scrollbar {
  display: none;
}
.container {
  position: relative;
  height: 72vh;
  background-image: url("../assets/BG-Page.png");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 15px;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/pattern.png");
  background-size: cover;
  z-index: -2;
  opacity: 0.3;
}

.container h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 5rem;
  position: absolute;
  top: 27%;
  left: 20%;
  text-align: left;
  color: aliceblue;
}

.mosque {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 70%;
  animation: shake2 4s infinite;
}
@keyframes shake2 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
/* .course {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -320px;
}

.coo {
  position: relative;
  border-radius: 10px;
  margin-right: 50px;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.coo p {
  display: block;
  position: absolute;
  top: 45%;
  color: #fff;
  font-weight: 200;
  padding: 0 15px 0 15px;
  font-size: small;
  margin-top: 10px;
}
.coo h3 {
  color: #fff;
  font-size: x-large;
  position: absolute;
  top: 35%;
  left: 12%;
  font-weight: 500;
}
.c2 h3 {
  position: absolute;
  left: 18%;
}
.c3 h3 {
  position: absolute;
  left: 18%;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  transition: all 0.3s ease;
  z-index: 2;
  position: absolute;
  left: 30%;
  top: 2%;
}
.cir1 {
  background: url("../assets/QurLes.png");
  background-size: cover;
  background-position: center;
}
.cir2 {
  background: url("../assets/QurRec.jpg");
  background-size: cover;
  background-position: center;
}
.cir3 {
  background: url("../assets/IslamicLes.jpg");
  background-size: cover;
  background-position: center;
} */
/* .loader {
  position: absolute;
  top: 4%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: none;
}
.coo:hover .loader {
  display: block;
} */
/* .learn-btn {
  position: absolute;
  color: #fff;
  font-size: large;
  border-radius: 10px;
  background: transparent;
  color: #d9a057;
  font-weight: 400;
  width: 60%;
  left: 20%;
  bottom: 2%;
  padding: 5px;
} */

/* .register-btn {
  position: absolute;
  font-size: large;
  border-radius: 8px;
  background: #056e13;
  color: white;
  font-weight: 400;

  left: 20%;
  top: 70%;
  padding: 10px;
  cursor: pointer;
} */
/* .register-btn2 {
  position: absolute;
  font-size: large;
  border-radius: 8px;
  background: #056e13;
  color: white;
  font-weight: 400;

  left: 20%;
  top: 70%;
  padding: 13px;
  cursor: pointer;
  opacity: 0.4;
} */
.line {
  color: gray;
  position: absolute;
  bottom: 1%;
  height: 1px;
  width: 70%;
  display: none;
}
.line2 {
  display: none;
}
/* .loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fff;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.loader::before {
  animation-name: loaderAnimation1;
}

.loader::after {
  animation-name: loaderAnimation2;
} */
.wording-cont {
  display: flex;
  justify-content: space-around;
  /* height: 100vh; */
  margin-top: 380px;
  align-items: center;
}
.word-img {
  width: 350px;
  height: 250px;
}
.wording {
  text-align: center;
}
.wording h2 {
  color: #d9a057;
  font-weight: 200;
  font-family: "Quicksand", sans-serif;
  font-size: 31px;
}
.wording h2 span {
  font-weight: 400;
}
.wording-cont p {
  margin-top: 5px;
  font-family: "Quicksand", sans-serif;
}
.missions {
  display: flex;
  justify-content: center;
  padding: 35px 0 0 0;
  margin-top: 10vh;
}
.mission {
  width: 400px;
  /* height: 300px; */
  border: 3px solid #d9a057;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background: #fff;
  margin-left: 40px;
}
.mission h2 {
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  color: #757575;
}

.count {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  border-radius: 14px;
}
.count-in {
  padding: 10px 20px;
  margin: 1em 30px;
  text-align: center;
}
.count-in h3 {
  color: #0e8d1e;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
}
.count-in p {
  font-family: "Quicksand", sans-serif;
  color: #0e8d1e;
}
.count-in:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px); */
}

@keyframes loaderAnimation1 {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
}

@keyframes loaderAnimation2 {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
  }
}
.coo:hover .circle {
  /* box-shadow: 0 0 2px 2px cyan; */
  transform: translate(-10%, -50%) scale(1.5);
}
.c1 {
  background: #056e13;
}
.c2 {
  background: #056e13;
}
.c3 {
  background: #056e13;
}
/* @media (max-width: 1035px) {
  .register-btn {
    top: 67%;
    height: 47px;
  }
  .register-btn2 {
    top: 67%;
    height: 47px;
  }
  .coo {
    margin: 15px;
  }
}
@media (max-width: 1024px) {
  .mosque {
    width: 100%;
    height: 60%;
  }
  .register-btn {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 50px;
  }
  .register-btn2 {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 50px;
  }
} */
/* css for tabs */
/* @media (min-width: 769px) and (max-width: 1023px) {
  .container {
    height: 60vh;
  }
  .mosque {
    width: 800px;
  }
  .container h1 {
    font-size: 4rem;
    position: absolute;
    top: 26%;
    left: 20%;
    text-align: left;
    color: aliceblue;
  }
  .register-btn {
    top: 55%;
    height: 43px;
  }
  .register-btn2 {
    top: 55%;
    height: 43px;
  }
  .course {
    bottom: -380px;
  }
  .coo {
    margin: 15px;
    text-align: center;
    align-items: center;
    height: 390px;
  }
  .coo h3 {
    text-align: center;
    margin-left: 0px;
  }
} */
/* @media (min-width: 740px) and (max-width: 768px) {
  .container h3 {
    left: 0;
  }
  .mosque {
    width: 900px;
  }
  .coo {
    height: 450px;
  }
  .register-btn {
    top: 63%;
    height: 43px;
  }
  .register-btn2 {
    top: 63%;
    height: 43px;
  }
  .coo h3 {
    top: 28%;
    margin-left: 22px;
  }
  .course {
    bottom: -450px;
  }
  .wording-cont {
    margin-top: 470px;
  }
  .count {
    margin-top: 20px;
  }
} */

/*css for mobile*/
/* @media only screen and (max-width: 767px) {
  .container {
    height: 60vh;
  }
  .course {
    position: static;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
  }
  .mosque {
    width: 600px;
    height: 250px;
  }
  .coo {
    background: transparent;
    height: 380px;
    width: 100%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .c1:hover {
    margin-top: 10px;
  }
  .coo p {
    display: block;
    position: absolute;
    top: 45%;
    width: 80%;
    font-weight: 200;
    color: black;
  }
  .coo h3 {
    top: 35%;
    color: #171717;
    left: 27%;
  }
  .learn-btn {
    bottom: 7%;
  }
  .register-btn {
    position: absolute;
    left: 20%;
    top: 56%;
    height: 44px;
    text-align: center;
  }
  .register-btn2 {
    position: absolute;
    left: 20%;
    top: 56%;
    height: 44px;
    text-align: center;
  }

  .coo:first-child {
    margin-top: 130%;
  }
  .container h1 {
    font-size: xx-large;
    top: 30%;
  }
  .line {
    display: block;
  }
  .coo:hover .circle {
   
    transform: translate(0%, 0%) scale(1.05);
  }
  .coo:hover .loader {
    display: none;
  }
  .count {
    background: white;
    flex-direction: column;
  }
  .count-in {
    border-radius: 20px;
   
    padding: 10px;
 
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .circle {
    left: 37%;
  }
  .wording-cont {
    flex-direction: column;
    margin-top: 1200px;
  }
  .missions {
    flex-direction: column;
  }
  .mission {
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
    background: #fff;
    margin: 8px 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line2 {
    color: gray;
    height: 1px;
    width: 70%;
    margin-top: 10px;
  }
} */
@media only screen and (max-width: 376px) {
  .container {
    height: 60vh;
  }
  .mosque {
    width: 500px;
  }
}
.tutor {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 20vh;
}
.tutor-register {
  width: 700px;
  display: flex;
  position: relative;
  background: #fff;
  border-radius: 10px;
  border: 3px solid #d9a057;
  height: 400px;
}

.habibi {
  position: absolute;
  right: -100px;
  top: -40px;
  width: 78%;
  height: 130%;
}
.tutor-text {
  border-radius: 13px;
  width: 50%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
}
.tutor-btn {
  border-radius: 10px;
  background: #0e8d1e;
  width: 120px;
  padding: 2px 0;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}
.tutor-text h1 {
  color: #0e8d1e;
  font-size: xx-large;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;
}
.tutor-text p {
  color: #757575;
}
@media only screen and (max-width: 1035px) {
  .tutor-register {
    width: 70%;
    height: 400px;
  }
  .habibi {
    width: 70%;
  }
}

@media only screen and (max-width: 766px) {
  .tutor-register {
    width: 80%;
    margin: 0;
  }
  .tutor-text {
    margin: 0;
  }
  .habibi {
    right: -40px;
  }
}
.subscribe {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  height: 350px;
  align-items: center;
}
.subscribe .subscribe-text {
}

.subscribe img {
  width: 450px;
}
.search-bar {
  background: #efb93c;
  display: flex;
  padding: 10px;
  border-radius: 10px;
}
.subscribe-text h2,
p {
  color: #757575;
  font-family: "Quicksand", sans-serif;
}

.subscribe-text p {
  margin-left: 40px;
  margin-bottom: 25px;
  font-family: "Quicksand", sans-serif;
}
.subscribe-text h2 {
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
}
.search-bar input[type="text"] {
  background: #f0bf4b;
  border-radius: 10px;
  width: 250px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the outline when focused */
  color: white;
}

.search-bar input::placeholder {
}
.search-bar button {
  border-radius: 8px;
  background: #f5f5f5;
  color: #0e8d1e;
  padding: 8px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .subscribe {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .subscribe-text {
    text-align: center;
  }
  .subscribe img {
    width: 50%;
  }
}
.feedback {
  background: transparent;
  text-align: center;
  margin-top: 20vh;
}
.feedback h1 {
  color: #757575;
  font-family: "Quicksand", sans-serif;
}
.feedback h3 {
  font-family: "Quicksand", sans-serif;
}
.feedback-items {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
  height: 65vh;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  background: #fff;
  margin-left: 40px;
  /* Add the box shadow styles */
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.item1,
.item3 {
  margin-top: 100px;
}

.feedback-img {
  background: #efb836;
  background-size: cover;
  background-position: center;
  width: 90px;
  border-radius: 50%;
  height: 90px;
  position: relative;
}

/* Triangle shape */
.triangle1 {
  position: absolute;
  top: 25%;
  right: 30%;
  /* width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid red;
  background: none; */
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
}
.triangle1 svg {
  color: blue;
}
.plus {
  position: absolute;
  top: 18%;
  right: 67%;
  /* width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid blue;
  background: none; */
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.plus svg {
  color: red;
}
.circle-1 {
  position: absolute;
  top: 30%;
  right: 64%;
  width: 12px;
  height: 12px;
  background: transparent;
  border-radius: 50%;
  border: #efb93c 2px solid;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}
/* Square shape */
.square {
  position: absolute;
  top: 12%;
  right: 28%;
  width: 12px;
  height: 12px;
  border: 2px solid green;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.feedback-item:hover .triangle1,
.feedback-item:hover .plus,
.feedback-item:hover .circle-1,
.feedback-item:hover .square {
  opacity: 1;
}
.feedback-item:hover .feedback-img {
  box-shadow: 0px 0px 10px 2px rgba(4, 193, 236, 0.6);
}

/* .feedback-img::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #d9a057;
} */

.name {
  color: #757575;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
}
.name-course {
  font-weight: 300;
  margin-bottom: 20px;
  color: #c8c8c8;
}
.feedback-item p {
  font-family: "Quicksand", sans-serif;
  font-size: small;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .feedback-item {
    width: 31%;
    height: auto;
  }
  .feedback-item:hover .triangle1,
  .feedback-item:hover .plus,
  .feedback-item:hover .circle-1,
  .feedback-item:hover .square {
    opacity: 0;
  }
}
@media only screen and (max-width: 766px) {
  .feedback {
    margin-top: 0;
  }
  .feedback-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item1,
  .item3 {
    margin-top: 0px;
  }
  .feedback-item {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    height: 50vh;
  }
  .feedback-item:hover .triangle1,
  .feedback-item:hover .plus,
  .feedback-item:hover .circle-1,
  .feedback-item:hover .square {
    opacity: 0;
  }
}
