@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,300&family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;600;700&family=Quicksand&display=swap");

.other-nav {
  height: 13vh;
  background: green;
}
.packages {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.package {
  width: 30%;
  background-color: green;
  height: 40vh;
}
