@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,300&family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;600;700&family=Quicksand&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}
.other-nav {
  height: 13vh;
  background: #d9a25a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.packages {
  display: flex;
  justify-content: center;
  margin-top: 95px;
  margin-bottom: 100px;
  height: 100%;
}
.package-heading {
  color: black;
  text-align: center;
}
.package {
  /* width: 25%; */
  width: 350px;
  margin-left: 25px;
}
.package-def {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  background-color: #056e13;
  height: 350px;
  padding: 20px;
}
.package-def h3 {
  margin-top: 55px;
  font-family: "Quicksand", sans-serif;
}
.package-def h1 {
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
}
.package-def p {
  color: rgb(182, 179, 179);
  font-family: "Quicksand", sans-serif;
}
.package-def h1 span {
  font-size: medium;
  font-family: "Quicksand", sans-serif;
}
.package-button {
  margin-top: 15px;
}
.package-button button {
  background: #d9a25a;
  padding: 7px;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  width: 180px;
}
.dropdown-btn {
  margin-top: 15px;
  cursor: pointer;
}
.dropdown-btn svg {
  color: #fff;
  opacity: 0.5;
}
.dropdown-content {
  background: #f5f5f5;
  padding: 10px;
  text-align: center;
  transition: opacity 1.3s ease-in-out;
}
.dropdown-content h2 {
  font-size: medium;
  color: #757575;
  font-family: "Quicksand", sans-serif;

  font-weight: 600;
  margin: 25px;
}
.dropdown-content h3 {
  font-family: "Quicksand", sans-serif;
}

.three-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;
  position: relative;

  width: 100%;
  margin-top: 200px;
}

.circle-steps1 {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url("../assets/Boy.svg");
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 25%;
}
.circle-steps2 {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url("../assets/Boy.svg");
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 45%;
}
.circle-steps3 {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url("../assets/Boy.svg");
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 65%;
}
.arrow1 {
  background: black;
  width: 10.2%;
  height: 2px;
  position: absolute;
  left: 34.75%;
}
.arrow2 {
  background: black;
  width: 10.2%;
  height: 2px;
  position: absolute;
  position: absolute;
  left: 54.75%;
}

/* .arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 12px solid black;
  top: -4px;
  left: -3px;
} */
.arrow1::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 12px solid black;
  top: -4px;
  right: -3px;
}
.arrow2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 12px solid black;
  top: -4px;
  right: -3px;
}

.circle-steps1:hover {
  background-color: #ffc107;
}
.circle-steps2:hover {
  background-color: #ffc107;
}
.circle-steps3:hover {
  background-color: #ffc107;
}
.circle-steps1:hover .arrow1 {
  color: red; /* Change the color of arrow1 when circle-steps1 is hovered */
  width: 5%;
}
/* .arrow-steps {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 4px;
  background-color: greenyellow;
  transition: background-color 0.3s ease;
} */

.circle-steps:hover ~ .arrow,
.circle-steps:hover + .arrow {
  background-color: #ffc107;
}

/* #DBDBDB */
@media (max-width: 768px) {
  .packages {
    flex-direction: column;
    align-items: center;
  }
  .package {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .three-steps {
    position: static;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }
  .circle-steps1 {
    position: static;
  }
  .circle-steps2 {
    position: static;
  }
  .circle-steps3 {
    position: static;
  }
}
