@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,300&family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;600;700&family=Quicksand&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}
.other-nav {
  height: 13vh;
  background: #d9a25a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.qaida-about {
  margin: 0 auto 0 auto;
  max-width: 600px;
  align-items: center;
  border: 2px solid #d9a25a;
  border-radius: 10px;
  padding: 20px;
}
.qaida-about h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.qaida-packages {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.qaida-package {
  width: 350px;
  margin-left: 50px;
}
.quran-package {
  width: 550px;
  margin-left: 50px;
}

.quran-package-def {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  background-color: #056e13;
  height: 420px;
  z-index: 0;
}
.qaida-package-def {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  background-color: #056e13;
  height: 370px;
}
.qaida-package-def h3,
.quran-package-def h3 {
  margin-top: 25px;
  font-size: xx-large;
  font-family: "Quicksand", sans-serif;
}

.quran-package-def h3 {
  margin-top: 20px;
  font-size: xx-large;
}
.qaida-package-def h1 {
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
}
.quran-package-def p {
  color: rgb(182, 179, 179);
  font-family: "Quicksand", sans-serif;
}
.qaida-package-def p {
  color: #fff;
  opacity: 0.4;
}
.qaida-package-def h1 span {
  font-size: medium;
  font-family: "Quicksand", sans-serif;
}
.qaida-package-button {
  margin-top: 15px;
}
.qaida-button {
  margin-bottom: 40px;
}
.qaida-package-button button {
  background: #d9a25a;
  padding: 7px;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  width: 180px;
}
.sub-btn {
  font-size: medium;
  color: #d9a25a;
  background: #f5f5f5;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 7px;
  padding: 7px;
}
.session1-btn,
.session2-btn {
  background: #f5f5f5;
  padding: 7px;
  border-radius: 10px;
  font-weight: 500;
  color: black;
  cursor: grab;
  width: 250px;
  height: 180px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.session2-btn h2 {
  font-weight: 800;
}

.best-value {
  background: #efb836;
  border-radius: 10px;
  width: 105px;
  /* margin-left: 70%; */
  /* margin-bottom: 100%; */
}
.best-value h3 {
  font-size: medium;
}
.session1-btn h2,
.session2-btn h2 {
  font-weight: 400;
  font-size: large;
  font-family: "Quicksand", sans-serif;
}
.session1-btn h1,
.session2-btn h1 {
  font-size: 45px;
  margin-top: -15px;
  color: #056e13;
  font-family: "Quicksand", sans-serif;
}
.down-h1 {
  margin-top: 1460px;
}
.fff {
  color: red;
}
.session1-btn h1 span,
.session2-btn h1 span {
  font-size: small;
  font-family: "Quicksand", sans-serif;
}
.btn-row1 {
  display: flex;
}
.save {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 15px;
  color: #d9a25a;
}
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.star svg {
  color: #efb836;
  margin-left: 20px;
}
.button-s2 {
  position: relative;
}
.star2 {
  position: absolute;
  top: 0%;
  left: 82%;
}
.star2 svg {
  color: #efb836;
}
.medal {
  width: 50px;
  height: 50px;
}
.star h2 {
  margin-left: 33px;
}
.other-session {
  text-align: center;
  margin-bottom: 16px;
  font-size: xx-large;
}
@keyframes glowing {
  0% {
    background-color: #d9a25a;
    box-shadow: 0 0 5px #d9a25a;
  }
  50% {
    background-color: #d9a25a;
    box-shadow: 0 0 20px #d9a25a;
  }
  100% {
    background-color: #d9a25a;
    box-shadow: 0 0 5px #d9a25a;
  }
}
.session2-sub {
  /* animation: glowing 1300ms infinite; */
  background: #f5f5f5;
}
.session1-btn p,
.session2-btn p {
  font-size: small;
  font-family: "Quicksand", sans-serif;
}
.dropdown-btn {
  /* margin-top: 15px; */
  cursor: pointer;
  margin-bottom: 15px;
}
.quran-package-buttons {
  display: flex;
  justify-content: space-around;
}
.dropdown-btn svg {
  color: #fff;
  opacity: 0.5;
}
.dropdown-content {
  background: #f5f5f5;
  padding: 10px;
  text-align: center;
  transition: opacity 0.8s ease;
}
.dropdown-content h2 {
  font-size: medium;
  color: #757575;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 25px;
}
/* #DBDBDB */
@media (max-width: 767px) {
  .qaida-about {
    margin: 0px auto 0 auto;
    width: 90%;
    align-items: center;
    border: none;
  }
  .qaida-packages {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .qaida-package {
    width: 95%;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .quran-package {
    width: 95%;
    margin-left: 0;
  }
  .session1-btn,
  .session2-btn {
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    color: #fff;
  }

  .star svg {
    color: #efb836;
    margin-left: 10px;
  }
  .star h2 {
    margin-left: 13px;
  }
}
